@page "/"
@model Chirp.Web.Pages.PublicModel
@{
    ViewData["Title"] = "Chirp!";
    Layout = "Shared/_Layout";
}

<div>
    <h2> Public Timeline </h2>

    @if (User.Identity?.IsAuthenticated == true)
    {
        <div class="cheepbox">
            <h3>What's on your mind, friend?</h3>
             <form method="post">
                @Html.AntiForgeryToken()

                <input asp-for="@Model.PageNumber" name="pageNumber" type="hidden" />

                <div class="form-group" style="display:flex;">

                    @Html.EditorFor(model => model.CheepText)

                    <input type="submit" value="Share" asp-page-handler="share">
                </div>

                @if (Request.Method.ToLower() == "post")
                {
                    <div class="form-group">

                        @Html.ValidationSummary()

                    </div>
                }

            </form>
        </div>
    }


    @Html.DisplayFor(model => model.CheepsListViewModel, "CheepsTemplate")
</div>
